<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{$title}</h3>
  </div>
  <div class="panel-body">
<form action="{$link}" method="post">
 <p style="text-align:right">
 {if $lib->checkrole($login.id,'account','add')}
 <button type="button" class="btn btn-success"  data-toggle="modal"  data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Thêm mới</button>
 {/if}
 {if $lib->checkrole($login.id,'account','delete')}
 <button type="submit" class="btn btn-danger"  onClick="return confirm('Bạn có chắc muốn xóa mục chọn')" ><span class="glyphicon glyphicon-trash"></span> Xóa mục chọn </button>
 {/if}
 </p>
 <script>
$(document).ready(function(e) {
	var choice=false;
    $('#cball').click(function(e) {
		if(choice==false)
		{
			$('.item').attr('checked',true);
			choice=true;
		}else{
			$('.item').attr('checked',false);
			choice=false;
		}
	});
}); 
 
 </script>
   {$lib->viewpage($link)}
    <table width="100%" class="table table-striped table-bordered table-hover">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tên đăng nhập</th>
        <th scope="col">Loại</th>
        <th scope="col" width="15%">Phân quyền</th>    
        <th scope="col"><input type="checkbox" id="cball" name="cball"  value="1"></th>
        <th scope="col">Thao tác</th>
      </tr>
      {foreach $danhsach as $sp}
      <tr>
        <td>{$sp.id}</td>
        <td>{$sp.user}</td>
        <td>
{if $sp.type==0} 
<span class="glyphicon glyphicon-remove text-danger"></span>
Khách hàng
{else}
<span class="glyphicon glyphicon-ok text-success"></span>
Quản trị
{/if}
        </td>
        <td>
        <ul style="height:200px; overflow-y:auto;border:#ccc 1px solid">
        {foreach $menu as $mn}
        {if $mn.parent==0}
        {if $mn.prog!=''}
        	{$att=$lib->cbr($sp.id,$mn.id)}
        	<li><input type="checkbox" value="{$sp.id}-{$mn.id}"  class="role" {$att}> <a href="#">{$mn.title}</a> 
           <div id="action{$sp.id}-{$mn.id}"  {if $att==''}style="display:none"{/if}> {$arr=explode(',',$mn.action)}
           		{foreach $arr as $ac}
                <input type="checkbox" value="{$sp.id}-{$mn.id}-{$ac}" class="action" {$lib->cbr($sp.id,$mn.id,$ac)}> {$ac} 
                {/foreach}
           </div>
            </li>
        {else}
        <li>
            <a href="#" role="button" >{$mn.title}<span class="caret"></span>
            </a>
            <ul >
            	{foreach $menu as $sub}
                    {if $sub.parent==$mn.id}
                    	{$att=$lib->cbr($sp.id,$sub.id)}
                    	<li><input type="checkbox" value="{$sp.id}-{$sub.id}" class="role" {$att}> <a href="#">{$sub.title}</a> 
                        <div id="action{$sp.id}-{$sub.id}" {if $att==''}style="display:none"{/if}> {$arr=explode(',',$sub.action)}
                                {foreach $arr as $ac}
                                <input type="checkbox" value="{$sp.id}-{$sub.id}-{$ac}"  class="action" {$lib->cbr($sp.id,$sub.id,$ac)}> {$ac} 
                                {/foreach}
                           </div>
                        </li>
                    {/if}
                {/foreach}
            </ul>
        </li>
        {/if}
        {/if}
        {/foreach}
    </ul>
        </td>
        <td><input type="checkbox" name="cbitem[]" value="{$sp.id}" class="item" ></td>
        <td>
{if $lib->checkrole($login.id,'account','edit')}
<button type="button" class="btn btn-warning" data-toggle="modal"  data-target="#myModal" id="btnedit{$sp.id}"><span class="glyphicon glyphicon-pencil"></span> Sửa</button>
{/if}
{if $lib->checkrole($login.id,'account','delete')}
<a href="{$link}&id={$sp.id}" class="btn btn-danger" onClick="return confirm('Bạn có chắc muốn xóa?')"><span class="glyphicon glyphicon-trash"></span> Xóa</a>
{/if}
        </td>
      </tr>
<script>
$(document).ready(function(e) {
	
	//bắt sự kiện Click chuột vào nút sửa sản phẩm tương ứng
	$('#btnedit{$sp.id}').click(function(e) {
		
		$('#id').val('{$sp.id}');
		$('#user').val('{$sp.user}');
		{if $sp.type==1} 
			$('#type1').click();
		{else}
			$('#type2').click();
		{/if}
	});
});
</script>
      
      {/foreach}
    </table>
    </form>
   {$lib->viewpage($link)}
  </div>
</div>

<script>
$(document).ready(function(e) {
    $('.role').click(function(e) {
        var stt=this.checked;
		var val=$(this).val();//Giá trị của ô checkbox
		if(stt==true){ //Có check: THêm quyền cho nó
			$('#action'+val).show();
			$.post('role.php',{ data:val, type:1});
		}else{ //không check: Bỏ quyền của nó đi
			$('#action'+val).hide();
			$.post('role.php',{ data:val, type:0});
		}
    });
	 $('.action').click(function(e) {
        var stt=this.checked;
		var val=$(this).val();//Giá trị của ô checkbox
		if(stt==true){ //Có check: THêm quyền cho nó
			$.post('role.php',{ data:val, type:1});
		}else{ //không check: Bỏ quyền của nó đi
			$.post('role.php',{ data:val, type:0});
		}
    });
});

</script>
<!-- Form Sản phẩm -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{$title}</h4>
      </div>
      
      <form action="{$link}" method="post" class="form-horizontal" id="frm" enctype="multipart/form-data"	>
      <input type="hidden" name="id" id="id" value="0">
<div class="modal-body">
<!--User-->
 <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Tên đăng nhập *</label>
    <div class="col-sm-10"><input type="text" class="form-control" id="user" name="user" placeholder="admin"></div>
  </div>
<!--END User-->
<!--Pass-->
<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Password *</label>
    <div class="col-sm-10"> <input type="password" class="form-control" id="pass" name="pass" placeholder="123456"></div>
</div>
<!--END PASS-->
<!--TYpe-->
<div class="form-group">
    <label for="status" class="col-sm-2 control-label">Loại</label>
    <div class="col-sm-10"><input type="radio" value="1" name="type" id="type1" checked> Quản trị<input type="radio" value="0" name="type" id="type2"> Khách hàng
    </div>
</div>
<!--END TYpe-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary">Cập nhật</button>
      </div>
      </form>
      
    </div>
  </div>
</div>
